
<!--
404.handlebars

This is the html/view code for the 404 page.

Author: Eric Foster
-->




{{!-- CSS Section to be inserted into the head of main file --}}
{{#section '404Style'}}
  <style>

      * {
          line-height: 1.2;
          margin: 0;
      }

      html {
          background-color: #0b0b0b;
          color: #8f8f8f;
          display: table;
          font-family: sans-serif;
          height: 100%;
          text-align: center;
          width: 100%;
      }

      body {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          margin: 2em auto;
          overflow: hidden;
      }

      h1 {
          color: #555;
          font-size: 2em;
          font-weight: 400;
      }

      p {
          margin: 0 auto;
          width: 280px;
      }


      @media only screen and (max-width: 280px) {

          body, p {
              width: 95%;
          }

          h1 {
              font-size: 1.5em;
              margin: 0 0 0.3em;
          }

      }
  </style>
{{/section}}


<p id="animals" class='animals'>ABCDEFxHIJKLMNOPQRSTUVWXYZ</p>
<h1 id='fours'>4 <img src="img/siberianTiger.jpeg" class='img-circle' height="250px" width="250px" alt="Siberian Tiger"> 4</h1>
<p id="animals2" class='animals'>abcdefghijklmnopqrstuvwGyz</p>
<p id='sorry'>Sorry, but the page you were trying to view does not exist. <a href='http://zooComedyNight.com'>Meow.</a></p>

<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
