
{{!--
construction.handlebars

This site will indicate to users that the mobile version of the
site is under construction and not yet suitable for
viewing..

Author: Eric James Foster
--}}



<div id="construction-container" class='container-fluid'>
  <h1><i class="fa fa-wrench" aria-hidden="true"></i> Under Construction</h1>
  <p>Sorry, the mobile version of this site is under construction, and not yet ready for viewing. The mobile site will be launched in very soon, but in the meantime, please visit us again from a desktop computer. Thanks!</p>
  <p>Here are some links that may be useful:</p>

  <a class='links' href="https://www.eventbrite.com/e/comedy-night-at-the-oregon-zoo-tickets-27021338551#tickets">Make a Donation</a>
  <a class='links' href="https://www.eventbrite.com/e/comedy-night-at-the-oregon-zoo-tickets-27021338551#tickets">Buy Tickets</a>
  <a class='links' href="mailto://mwangi70@yahoo.com">Contact the Organizer</a>
</div>
