{{!--
sponsors.handlebars

This page lists the events sponsors...

Author: Eric James Foster
--}}




<!--Text Alignment-->
{{#section 'alignText'}}
  <style>
    html, body {
      text-align: center;
      /*overflow-y: hidden;*/
    }
  </style>
{{/section}}

<!--Backdrop-->
<img id='laughing-leo-backdrop' src="img/laughingLeoBW.png" alt="laughing leopard">

<!--Text-->
<div id="sponsors-text">
  <h1>Huge Thanks to our Sponsors for this Year's Event!!</h1>
</div>

<div id="sponsorLogos">
  <a href='http://www.balloonsonbroadway.com'><img id="BOB" src="http://static1.squarespace.com/static/52a54906e4b004648e57c63e/t/52fee798e4b0ee230b341022/1454963231263/?format=750w" alt="Balloons on Broadway"></a>
  <a href='https://www.deschutesbrewery.com'><img id="deschutes" src="https://www.deschutesbrewery.com/wp-content/uploads/2008/11/Deschutes-Brewery-logo-2.png" alt="Deschutes Brewery"></a>
  <a href='http://www.als-gardencenter.com'><img id="AGC" src="http://www.als-gardencenter.com/images/sitebase/cornerlogo.png" alt="Al's Garden Center"></a>
  <a href='http://www.millikenmeat.com'><img id='milikin' src="http://www.millikenmeat.com/uploads/3/1/5/0/3150488/5543583.gif" alt="Millikin Meats"></a>
  <a href='http://www.carter2systems.com'>
    <div id="c2S">
      <img src="https://static.wixstatic.com/media/2e0dfc_fc4cc71c2e854cac8fbb923b7cdd4c91.jpg/v1/fill/w_434,h_304,al_c,lg_1,q_80/2e0dfc_fc4cc71c2e854cac8fbb923b7cdd4c91.jpg" alt="Carter 2 Systems">
      <p>Carter2Systems, Inc.</p>
    </div>
  </a>
  <a href='https://www.facebook.com/sfvineyard/'><img id='saffron' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM4L1LuBg-3q0KA_5L7YOh8XXKJBmlDAzkHS3S1hP4PS7QCJ499w" alt="Saffron Vineyard">
  <a href='http://www.katu.com'><img id='katu' src="https://pbs.twimg.com/profile_images/731927103470342144/-5PR0JyF_400x400.jpg" alt="KATU Channel 2"></a>
  <div id="JMI">
    <a href=><img id="jmiLogo" src='img/JMI-Logo.png' alt="JMI limo">
    <p>JMI Limousine</p>
  </div>
  <a href=''><img id='eastsideDist' src="img/Eastside-Distilling.gif" alt="Eastside Distilling"></a>
  <div id="kBarth">
    <h4>and also.......</h2>
    <h2>Kathy Bartholemy</h2>
  </div>
</div>
