/*
_respond.scss

These are the responsive styles for the zooComedyNight.com
web application..

Author: Eric James Foster
*/
/*
Color variables
==================>>>
*/
/*
Font variables
==================>>>
*/
/*
Misc. variables
==================>>>
*/
/*
RESPONSIVE DESIGN ++++=====================================>>>>
-----------------------------------------------------/*
-------------------------------------------/*
Media Queries ++++----------------/*
==============>>>>
*/
@media screen and (min-width: 1500px) {
  /*
  Cover
  --------*/
  .allFolks {
    font-size: 134px; }
  #presents {
    left: 300px;
    top: 120px; }
  #comedy {
    left: 240px;
    top: 630px; }
  #atZoo {
    font-size: 76px;
    left: 750px;
    top: 840px; }
  #n3 {
    font-size: 362px;
    top: 335px;
    left: 1300px; }
  #coverDate {
    right: 60px;
    top: 350px;
    font-size: 42px;
    -webkit-text-stroke: 0.5px #0b0b0b; }
  #coverLocation {
    float: right;
    right: 120px;
    top: 455px;
    font-size: 30px;
    text-shadow: -0.5px -0.5px 0 #0b0b0b, 0.5px -0.5px 0 #0b0b0b, -0.5px 0.5px 0 #0b0b0b, 0.5px 0.5px 0 #0b0b0b;
    -webkit-text-stroke: 0.5px #0b0b0b; }
  #coverLocation2 {
    float: right;
    right: 10px;
    top: 495px;
    font-size: 30px;
    text-shadow: -0.5px -0.5px 0 #0b0b0b, 0.5px -0.5px 0 #0b0b0b, -0.5px 0.5px 0 #0b0b0b, 0.5px 0.5px 0 #0b0b0b;
    -webkit-text-stroke: 0.5px #0b0b0b; }
  #scrollIndicatorL {
    left: 100px;
    top: 900px; }
  #scrollIndicatorR {
    right: 40px;
    top: 900px; }
  /*
  Headliner
  ----------*/
  #caitW {
    bottom: 30px; }
  #caitWText {
    left: 200px; }
  #sinceBadge {
    left: 310px; }
  /*
  Cause
  -------*/
  #altaLogo {
    position: absolute;
    height: 550px;
    width: 900px;
    top: 1560px;
    left: 515px;
    opacity: .15;
    border-radius: 20px; } }

@media screen and (max-width: 1499px) {
  /*
  Cover
  =======*/
  #presents {
    top: 100px; }
  #comedy {
    top: 485px; }
  #atZoo {
    top: 620px; }
  /*
  ALTA
  =======*/
  #altaLogo {
    left: 330px; } }

@media screen and (max-width: 1350px) and (max-height: 1150px) {
  /*
  Cover
  =======*/
  #presents {
    top: 180px;
    left: 160px; }
  #comedy {
    left: 130px;
    top: 660px; }
  #atZoo {
    left: 410px;
    top: 800px; }
  #n3 {
    top: 445px;
    left: 850px; }
  #coverDate {
    right: 40px;
    top: 330px; }
  #coverLocation {
    right: 110px;
    top: 385px; }
  #coverLocation2 {
    right: 45px;
    top: 415px; }
  #scrollIndicatorL {
    left: 100px;
    top: 890px; }
  #scrollIndicatorR {
    right: 40px;
    top: 890px; } }

@media screen and (max-width: 1350px) and (max-height: 999px) {
  /*
  Cover
  =======*/
  #presents {
    top: 110px;
    left: 200px; }
  #comedy {
    left: 190px;
    top: 500px; }
  #atZoo {
    left: 530px;
    top: 640px; }
  #n3 {
    top: 295px;
    left: 960px; }
  #coverDate {
    right: 40px;
    top: 330px; }
  #coverLocation {
    right: 110px;
    top: 385px; }
  #coverLocation2 {
    right: 45px;
    top: 415px; }
  #scrollIndicatorL {
    left: 100px;
    top: 700px; }
  #scrollIndicatorR {
    right: 40px;
    top: 700px; }
  /*
  ALTA
  =======*/
  #altaLogo {
    left: 290px; } }

@media screen and (max-width: 1150px) {
  /*
  Cover
  =======*/
  #comedy {
    left: 50px;
    top: 480px; }
  #presents {
    top: 100px;
    left: 40px; }
  #atZoo {
    top: 620px;
    left: 310px; }
  #n3 {
    top: 258px;
    left: 735px; }
  #coverDate {
    font-size: 24px;
    right: 10px;
    top: 320px; }
  #coverLocation {
    right: 20px;
    top: 370px; }
  #coverLocation2 {
    right: -45px;
    top: 400px; }
  #scrollIndicatorL {
    left: 70px;
    top: 680px; }
  #scrollIndicatorR {
    right: 10px;
    top: 680px; }
  /*
  Hostess
  =========*/
  #poisonWaters {
    top: 50px;
    right: 30px; }
  /*
  Headliner
  ==========*/
  #caitWText {
    left: 40px; }
  /*
  Event
  =======*/
  #sinceBadge {
    bottom: 5px;
    left: 100px; }
  #eventText {
    left: 420px;
    bottom: 60px; }
  /*
  Cause
  =======*/
  #altaLogo {
    height: 500px;
    width: 830px;
    top: 1760px;
    left: 100px; } }
