
/*
_respond.scss

These are the responsive styles for the zooComedyNight.com
web application..

Author: Eric James Foster
*/





/*
Color variables
==================>>>
*/

$bg: #0b0b0b;
$fg: #ede5d0;
$at-zoo: #e09724;
$num-3: #8f8f8f;
$trans: transparent;
$orange: #e37c30;
$red: #c3242d;

/*
Font variables
==================>>>
*/

$fresca: fresca;
$headers: fjalla one;
$pGraphs: inconsolata;

/*
Misc. variables
==================>>>
*/

$all: 100%;
$outline-black: -0.5px -0.5px 0 $bg, 0.5px -0.5px 0 $bg, -0.5px 0.5px 0 $bg, 0.5px 0.5px 0 $bg;




/*
RESPONSIVE DESIGN ++++=====================================>>>>
-----------------------------------------------------/*
-------------------------------------------/*
Media Queries ++++----------------/*
==============>>>>
*/
@media screen and (min-width: 1500px) {
  //
  /*
  Cover
  --------*/

  .coverText {

  }

  .allFolks {
    font-size: 134px;
  }

  #presents {
    left: 300px;
    top: 120px;
  }

  #comedy {
    left: 240px;
    top: 630px;
  }

  #atZoo {
    font-size: 76px;
    left: 750px;
    top: 840px;
  }

  #n3 {
    font-size: 362px;
    top: 335px;
    left: 1300px;
  }

  #coverDate {
    right: 60px;
    top: 350px;
    font-size: 42px;
    -webkit-text-stroke: 0.5px $bg;
  }

  #coverLocation {
    float: right;
    right: 120px;
    top: 455px;
    font-size: 30px;
    text-shadow: $outline-black;
    -webkit-text-stroke: 0.5px $bg;
  }

  #coverLocation2 {
    float: right;
    right: 10px;
    top: 495px;
    font-size: 30px;
    text-shadow: $outline-black;
    -webkit-text-stroke: 0.5px $bg;
  }

  #scrollIndicatorL {
    left: 100px;
    top: 900px;
  }

  #scrollIndicatorR {
    right: 40px;
    top: 900px;
  }

  /*
  Headliner
  ----------*/

  #caitW {
    bottom: 30px;

  }
  #caitWText {
    left: 200px;
  }

  #sinceBadge {
    left: 310px;
  }


  /*
  Cause
  -------*/

  #altaLogo  {
    position: absolute;
    height: 550px;
    width: 900px;
    top: 1560px;
    left: 515px;
    opacity: .15;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1499px) {
  /*
  Cover
  =======*/

  #presents {
    top: 100px;
  }

  #comedy {
    top: 485px;
  }

  #atZoo {
    top: 620px;
  }
  /*
  ALTA
  =======*/

  #altaLogo {
    left: 330px;
  }
}

@media screen and (max-width: 1350px) and (max-height: 1150px) {
  /*
  Cover
  =======*/

  #presents {
    top: 180px;
    left: 160px;
  }

  #comedy {
    left: 130px;
    top: 660px;
  }

  #atZoo {
    left: 410px;
    top: 800px;
  }

  #n3 {
    top: 445px;
    left: 850px;
  }

  #coverDate {
    right: 40px;
    top: 330px;
  }

  #coverLocation {
    right: 110px;
    top: 385px;
  }

  #coverLocation2 {
    right: 45px;
    top: 415px;
  }

  #scrollIndicatorL {
    left: 100px;
    top: 890px;
  }

  #scrollIndicatorR {
    right: 40px;
    top: 890px;
  }
}


@media screen and (max-width: 1350px) and (max-height: 999px) {
  /*
  Cover
  =======*/

  #presents {
    top: 110px;
    left: 200px;
  }

  #comedy {
    left: 190px;
    top: 500px;
  }

  #atZoo {
    left: 530px;
    top: 640px;
  }

  #n3 {
    top: 295px;
    left: 960px;
  }

  #coverDate {
    right: 40px;
    top: 330px;
  }

  #coverLocation {
    right: 110px;
    top: 385px;
  }

  #coverLocation2 {
    right: 45px;
    top: 415px;
  }

  #scrollIndicatorL {
    left: 100px;
    top: 700px;
  }

  #scrollIndicatorR {
    right: 40px;
    top: 700px;
  }

  /*
  ALTA
  =======*/

  #altaLogo {
    left: 290px;
  }
}


@media screen and (max-width: 1350px) and (max-height: 799px) {
  /*
  Cover
  =======*/

  #presents {
    top: 90px;
    left: 200px;
  }

  #comedy {
    left: 190px;
    top: 460px;
  }

  #atZoo {
    left: 530px;
    top: 600px;
  }

  #n3 {
    top: 255px;
    left: 960px;
  }

  #coverDate {
    right: 40px;
    top: 290px;
  }

  #coverLocation {
    right: 110px;
    top: 345px;
  }

  #coverLocation2 {
    right: 45px;
    top: 375px;
  }

  #scrollIndicatorL {
    left: 100px;
    top: 640px;
  }

  #scrollIndicatorR {
    right: 40px;
    top: 640px;
  }

  /*
  ALTA
  =======*/

  #altaLogo {
    left: 290px;
  }
}


@media screen and (max-width: 1150px) {
  /*
  Cover
  =======*/

  #comedy {
    left: 50px;
    top: 480px;
  }

  #presents {
    top: 100px;
    left: 40px;
  }

  #atZoo {
    top: 620px;
    left: 310px;
  }

  #n3 {
    top: 258px;
    left: 735px;
  }

  #coverDate {
    font-size: 24px;
    right: 10px;
    top: 320px;
  }

  #coverLocation {
    right: 20px;
    top: 370px;
  }

  #coverLocation2 {
    right: -45px;
    top: 400px;
  }

  #scrollIndicatorL {
    left: 70px;
    top: 680px;
  }

  #scrollIndicatorR {
    right: 10px;
    top: 680px;
  }

  /*
  Hostess
  =========*/

  #poisonWaters {
    top: 50px;
    right: 30px;
  }

  /*
  Headliner
  ==========*/

  #caitWText {
    left: 40px;
  }

  /*
  Event
  =======*/

  #sinceBadge {
    bottom: 5px;
    left: 100px;
  }

  #eventText {
    left: 420px;
    bottom: 60px;
  }

  /*
  Cause
  =======*/

  #altaLogo  {
    height: 500px;
    width: 830px;
    top: 1760px;
    left: 100px;
  }
}
