
{{!--
archives.handlebars

This page is under construction..

Author: Eric James Foster
--}}




<!--Text Alignment-->
{{#section 'alignText'}}
  <style>
    html, body {
      text-align: center;
      overflow-y: hidden;
    }
  </style>
{{/section}}

<!--Backdrop-->
<img id='laughing-leo-backdrop' src="img/laughingLeoBW.png" alt="laughing leopard">

<!--Text-->
<div id="archives-text-content">
  <h1>Archives, Coming Soon.</h1>
  <p>This page is currently under construction. It will contain information about past AAZK Fundraising events when finished.</p>

  <p>Click <a href="/">here</a> to go back to the main page.</p>
</div>




{{!-- <h1>About Comedy Night at the Zoo!!</h1>
<form action="/" method="post">
  <div>
    <label for="userName">Please enter your user name:</label>
    <input type="text" id='userName' name='userName'>
  </div>
  <div>
    <label for="email">Please enter your email address:</label>
    <input type="text" id='email' name='email'>
  </div>
  <div>
    <button type='submit'>Submit</button>
  </div>
</form> --}}
